@font-face {
    src:url(../font/OpenSans-Bold.otf);
    src:url(../font/OpenSans-Bold.eot);
    src:url(../font/OpenSans-Bold.ttf);
    src:url(../font/OpenSans-Bold.woff);
    font-family:'OpenSans-Bold';
}

@font-face {
    src:url(../font/OpenSans-BoldItalic.otf);
    src:url(../font/OpenSans-BoldItalic.eot);
    src:url(../font/OpenSans-BoldItalic.ttf);
    src:url(../font/OpenSans-BoldItalic.woff);
    font-family:'OpenSans-BoldItalic';
}

@font-face {
    src:url(../font/OpenSans-Italic.otf);
    src:url(../font/OpenSans-Italic.eot);
    src:url(../font/OpenSans-Italic.ttf);
    src:url(../font/OpenSans-Italic.woff);
    font-family:'OpenSans-Italic';
}

@font-face {
    src:url(../font/OpenSans-Regular.otf);
    src:url(../font/OpenSans-Regular.eot);
    src:url(../font/OpenSans-Regular.ttf);
    src:url(../font/OpenSans-Regular.woff);
    font-family:'OpenSans-Regular';
}

@font-face {
    src:url(../font/OpenSans-Semibold.otf);
    src:url(../font/OpenSans-Semibold.eot);
    src:url(../font/OpenSans-Semibold.ttf);
    src:url(../font/OpenSans-Semibold.woff);
    font-family:'OpenSans-Semibold';
}

@font-face {
    src:url(../font/OpenSans-SemiboldItalic.otf);
    src:url(../font/OpenSans-SemiboldItalic.eot);
    src:url(../font/OpenSans-SemiboldItalic.ttf);
    src:url(../font/OpenSans-SemiboldItalic.woff);
    font-family:'OpenSans-SemiboldItalic';
}

@font-face {
    src:url(../font/OpenSans-Light.otf);
    src:url(../font/OpenSans-Light.eot);
    src:url(../font/OpenSans-Light.ttf);
    src:url(../font/OpenSans-Light.woff);
    font-family:'OpenSans-Light';
}


body{ margin:0px; padding:0px;}
.clear { clear:both;}
.wrapper{ width:100%; margin:0px auto;}
.survey-wrapper{ float: left;}

.bg-blue {background-color:#005BA8;}
.bg-cyan {background-color:#0593b6;}
.bg-green {background-color:#1C6C0F;}
.bg-red {background-color:#CD0000}
.bg-grey {background-color:#949494;}

.bg-blue:hover {background-color:#005195;}
.bg-cyan:hover {background-color:#0483a2;}
.bg-green:hover {background-color:#185e0d;}
.bg-red:hover {background-color:#bd0000;}
.bg-grey:hover {background-color:#808080;}
.button-disabled {background-color:#D1D0D0; color:#999 !important; cursor:default !important;}
.float-left{ float:left;}
.float-right{ float:right;}
[class^="icon-"], [class*=" icon-"] {text-align:center; display:block; width:32px; height:32px;}
[class^="icon-"]:after, [class*=" icon-"]:after{content:'';  width:100%; height:100%; display: block;}
.no-margin { margin:10px 0px;}
.btn-margin { margin:10px 1.3%;}
.nomarginLeft { margin-left:0px !important;}
.nomarginRight { margin-right:0px !important;}

a.send-to-email {
    background: #444;
}
a.send-to-email:hover {
    background: #555;
}

/*                                          icons
_____________________________________________________
*/
.icon-logout:after{ background:url(../img/icons.png) no-repeat 50% 0%;}
.icon-back:after{ background:url(../img/icons.png) no-repeat 50% 25%;}
.icon-enroute:after{ background:url(../img/icons.png) no-repeat 25% 25%;}
.icon-scheduled:after{ background:url(../img/icons.png) no-repeat 25% 50%;}
.icon-complete:after{ background:url(../img/icons.png) no-repeat 25% 75%;}
.icon-started:after{ background:url(../img/icons.png) no-repeat 50% 50%;}
.icon-reported:after{ background:url(../img/icons.png) no-repeat 25% 100%;}
.icon-address:after{ background:url(../img/icons.png) no-repeat 0% 50%;}
.icon-time:after{ background:url(../img/icons.png) no-repeat 0% 0%;}
.icon-service:after{ background:url(../img/icons.png) no-repeat 0% 25%;}
.icon-pending-survey:after{ background:url(../img/icon-pending-survey.png) no-repeat 0% 0%;}
/*                                  Header
______________________________________________
*/
.header { background:#005ba8 url(../img/header-border.png) no-repeat center 94%; padding:2%; max-height:103px; width:96%; display:table;}
.header:after{ content:''; display:block; clear:both;}
.header-title {font-family: 'OpenSans-Semibold';  color: #fff; text-shadow: 2px 0px 1px #022A62; text-align: left; font-size:38px; display:table-cell; width:100%;}
.logout {display:table-cell; vertical-align:middle;}

/*                                  Listing
______________________________________________
*/
.list-container{ border-top:1px solid #cfcfcf; padding:15px 1%; margin:0px 0px; font-family:'OpenSans-Regular';font-size:26px;}
.list-container .list-head { float:left; width:98%; margin: 0px 0px 10px 0px; padding: 0 1%; color:#5f5f5f;}
.list-container .list-title { font-size:36px; line-height:40px; width:65%;float:left;}
.list-container .list-status {width:35%; float:right; height:40px;}
.list-container .list-status .icon {float:right; margin: 4px 10px 0px 0px;}
.list-container .list-status .status-text {float:right;line-height:32px; height:32px; margin: 4px 0px 0px 0px;}
.list-container .field-address {width:100%; float:left; margin: 20px 0px 0px 0px;}

.list-container .list-leftcontent{ float:left; width:39%; padding-left:1%; color:#5f5f5f;}
.list-container .list-leftcontent .incident-info{ width:100%; height:32px; float:left; margin: 18px 0px;}

.list-container .list-rightcontent{ float:right; width:59%; font-size:24px; line-height:32px; padding-right:1%;}
.list-container .list-rightcontent a, .list-container .list-rightcontent .started-btn { height: 50px; line-height: 50px; border-radius:100px; text-align:center;color:#fff; text-decoration:none;font-size: 24px; font-family: 'OpenSans-Semibold'; cursor:pointer;}
.list-container .list-rightcontent .button1{ width:100%; float:left; margin: 10px 0px;}
.list-container .list-rightcontent .button2{ width:49%; float:left; margin: 10px 0.5%;}
.list-container .list-rightcontent .button3{ width:32%; float:left;}
.list-container .list-rightcontent .button4{ width:42%; float:left;}
.list-container .list-rightcontent .button5{ width:27%; float:left;}

.started-btn ul{ margin:0px; padding:0px; list-style:none; background:#0593b6 url(../img/dropdown-menu.png) no-repeat 95% center; border-radius: 100px; position:relative;}

.started-btn ul.disabled{background:#D1D0D0 url(../img/dropdown-menu-disabled.png) no-repeat 95% center;}

.started-btn ul.disabled li a{ cursor: default; color: #999;}

.list-container .list-rightcontent .started-btn ul li a{ text-decoration:none; font-size:21px; color:#fff; display: block; text-align: left; padding-left: 16px;}
.onclick-hide{ display:none; position:absolute; border-top:2px solid #007592; width: 100%; background:#0593b6; border-radius:0px 0px 25px 25px; padding-bottom: 10px;}

.list-container .icon-address, .list-container .icon-time, .list-container .icon-service  {float:left; margin: 0px 10px 0px 0px;}

.list-container .enroute { color:#949494;}
.list-container .scheduled { color:#005ba8;}
.list-container .started { color:#0593b6;}
.list-container .complete { color:#1c6c0f;}
.list-container .reported { color:#cd0000;}

.list-container .listing-text {float:left; margin: 0px 0px 0px 0px; line-height:32px;}

/*                                  Listing Detail
______________________________________________
*/
.back { margin-right:2%;}
.header-btn { text-align:center;}
.header-btn a, .header-btn .started-btn{ width:30%; margin:1%; display:inline-block; text-align:center; height: 50px; line-height: 50px; border-radius: 100px; text-align: center; color: #fff; text-decoration: none; font-size: 24px; font-family: 'OpenSans-Semibold'; cursor: pointer;}
.header-btn .started-btn a { line-height:40px; height:40px; width:93%; text-align:left; padding-left:6%;}
.list-header.bg-blue:hover{background-color:#005BA8;} 
.list-header.bg-red:hover{background-color:#CD0000;} 
.list-header.bg-green:hover{background-color:#1C6C0F;} 
.list-header.bg-cyan:hover{background-color:#0593b6;} 
.list-header.bg-grey:hover{background-color:#949494;} 
.list-header { margin-bottom:2%;}
.list-header, .list-content { color:#fff; padding: 10px 2%; font-family: 'OpenSans-Regular'; font-size: 26px;}
.list-header .icon { float:left; margin:4px 10px 0 0;}
.list-header .icon-enroute:after{ background:url(../img/icons.png) no-repeat 50% 75%;}
.list-header .icon-scheduled:after{ background:url(../img/icons.png) no-repeat 50% 100%;}
.list-header .icon-complete:after{ background:url(../img/icons.png) no-repeat 75% 0%;}
.list-header .icon-started:after{ background:url(../img/icons.png) no-repeat 75% 50%;}
.list-header .icon-reported:after{ background:url(../img/icons.png) no-repeat 75% 25%;}

.list-content { color:#1b1b1b; border-bottom:1px solid #cdcdcd;}
.list-content .icon { float:left; margin:0px 1% 0 0;}
.list-bottom{ margin-left:5%; color:#717171;}
.list-content .icon-user:after { background:url(../img/icons.png) no-repeat 0% 100%;}
.list-content .icon-order:after { background:url(../img/icons.png) no-repeat 75% 75%;}
.list-content .icon-time:after { background:url(../img/icons.png) no-repeat 0% 0%;}
.list-content .icon-service:after { background:url(../img/icons.png) no-repeat 0% 25%;}
.list-content .icon-phone:after { background:url(../img/icons.png) no-repeat 0% 75%;}
.list-content .icon-address:after { background:url(../img/icons.png) no-repeat 0% 50%;}
.list-content .icon-desc:after { background:url(../img/icons.png) no-repeat 25% 0%;}

/*                      Notes
__________________________________
*/
.form{ margin:2% auto; padding: 10px 2%;}
.form .textarea{ font-size: 16px; border:1px solid #dbe1e4; border-radius:5px; width:98%; min-width: 98%; max-width:98%; padding:1%; font-style:italic; color:#b4bdc2; font-family:'OpenSans-Italic'; height:100px; max-height:100px; min-height:100px; outline:0;}
.form .btn{ border-radius:100px; text-align:center; border:none; height:50px; line-height:50px; width:100%; color:#fff; font-size:26px; margin-top:3%; cursor:pointer;}

.notes-title{ text-align:center;}
.list-container.note-list{ border-top:none;}
.notes-title .line{ width:43%; margin:4px 1%; border-bottom:1px dotted #393939; display:inline-block;}
.notes-title .title { color:#393939; text-align:center; display:inline-block; width:10%;}
.list-notes .list-title{ color:#1f81dc; font-size:26px; font-family: 'OpenSans-Semibold';}
.list-notes .list-title p{ margin:0px; font-size:20px; line-height:normal;}
.list-notes .list-title .blue{ color:#0356a5;}
.list-notes .list-title .red{ color:#cd0000;}
.list-notes .list-title .green{ color:#1c6c0f;}
.list-notes .list-status{ text-align:right; font-size:18px;}
.note-form { margin:0% auto 2% auto;}
.wname{ text-align:right; color:#1c1c1c; font-size:20px; font-family: 'OpenSans-Semibold';}
.list-notes { padding-bottom:20px !important; margin-bottom:20px !important; border-bottom:1px solid #e6e6e6;}
.list-notes .listing-text{ font-size:18px;}

/*                                  Login.html
______________________________________________  
*/
.login-wrapper{ margin:7% auto;}
.logo {width: 80%; margin: 0% auto 7%; text-align: center;}
.login-container {margin: 0px auto; width: 90%;}
.field-container {margin: 0px auto 3% auto;}
.text-field {background: #eeeeee; border: 1px solid #999999; color: #919292; height: 80px; line-height: 80px; font-size: 26px; outline: none;
             width: 100%; text-indent: 28px; font-family: 'OpenSans-Italic';}
.sub-btn {background: #1e3160; line-height: 80px; height: 80px; width: 100%; text-align: center; font-size: 30px; color: #fff; outline: none; border: none; box-shadow: 2px 2px 2px #a6a8ab; cursor: pointer; font-family: 'OpenSans-Semibold';}

.text-field.help-block { border:1px solid #a94442;}
.text-field.valid { border:1px solid #5cb85c;}
span.help-block {font-family:'OpenSans-Regular'; font-size:14px; color: #a94442; margin:5px 0px;}


/*                                      Popup
______________________________________________
*/
.popup-container { width:100%;}
.popup-title {font-size: 35px; font-family: 'OpenSans-Regular'; text-align: center; color: #2d3e58; margin: 0px;}
.popup-container p{ font-size:26px; color:#858585; text-align:center; margin:4% auto; font-family:'OpenSans-Regular'; width:90%;}
.textarea.popup-textarea { max-height:265px; min-height:265px; height:265px; min-width: 98%; max-width:98%;}
.dropdown-container {position: relative; display:block; margin-top:3%;}
.dropdown-container select {width: 100%; border: 2px solid #dbe1e4; border-radius: 3px; font-size: 22px; color: #b4bdc2; height: 63px; padding-left: 2%; background: transparent; position: relative; z-index: 5; cursor: pointer; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
.dropdown-container:after { background: url(../img/arrow.png) no-repeat; width: 63px; height: 59px; content: ''; position: absolute; right: 2px; margin-top: 2px; top: 0px;}
.display-none{ display:none;}

/*                                  Messages 
______________________________________________
*/

.msgs {padding: 1px 2%; font-family:'OpenSans-Regular', sans-serif; color: #fff; position: relative;}
.error-msg { background:#cc0000;}
.info-msg{ background:#043b5b; padding:1%;}
.info-msg img{ vertical-align:middle;}
.msgs span{font-size: 12px; margin-left: 1%;}
.success-msg { background:#1C6C0F;}
.msgs p{font-size: 12px; margin:1% 0px;}

/*                      Rejected Appointment
______________________________________________
*/
.wrapper-late-rejected { background:#9a0000;}
.wrapper-late-rejected .list-head, .wrapper-late-rejected .list-leftcontent {color:#fff;}

.wrapper-late-rejected .icon-address:after {
    background: url(../img/rejected-icons.png) no-repeat 0% 0%;
}

.wrapper-late-rejected .icon-time:after {
    background: url(../img/rejected-icons.png) no-repeat 0% 20%;
}

.wrapper-late-rejected .icon-service:after {
    background: url(../img/rejected-icons.png) no-repeat 0% 40%;
}
.wrapper-late-rejected .icon-rejected:after {
    background: url(../img/rejected-icons.png) no-repeat 100% 0%;
}
.wrapper-late-rejected .rejected-container { background:#4a0001; padding:3% 5%; margin-top:2.5%;}
.wrapper-late-rejected .rejected-container p{ color:#fff; font-size:26px; margin:0px;}

.wrapper-rejected { background:#f2dedf;} 
.wrapper-rejected .list-head, .wrapper-rejected .list-leftcontent {color:#b84b46;}

.wrapper-rejected .icon-address:after {
    background: url(../img/rejected-icons.png) no-repeat 0% 60%;
}

.wrapper-rejected .icon-time:after {
    background: url(../img/rejected-icons.png) no-repeat 0% 80%;
}

.wrapper-rejected .icon-service:after {
    background: url(../img/rejected-icons.png) no-repeat 0% 100%;
}

.wrapper-rejected .icon-rejected:after {
    background: url(../img/rejected-icons.png) no-repeat 100% 20%;
}

.wrapper-rejected .rejected-container { background:#b84b46; padding:3% 5%; margin-top:2.5%;}
.wrapper-rejected .rejected-container p{ color:#fff; font-size:26px; margin:0px;}




/*                              Media Queries
______________________________________________
*/

@media only screen and (max-width: 765px){
    .list-container{font-size:16px;}
    .list-container .list-title { font-size:28px; line-height:32px;}
    .list-container .list-status {height:32px;}
    .list-container .listing-text { float:none; line-height:normal; margin: 0.4% 0px 0px 0px;}
    .list-container .list-leftcontent .listing-text { margin:1% 0px 0px;}
    .list-container .list-status .status-icon {margin: 0px 10px 0px 0px;}
    .list-container .list-status .status-text {margin: 0px 0px 0px 0px;}
    .list-container .list-rightcontent{font-size:13px; width:68%;}
    .list-container .list-leftcontent{width:30%;}
    .list-container .icon-address, .list-container .icon-time, .list-container .icon-service { margin:0px 5px 0px 0px;}
    [class^="icon-"], [class*=" icon-"] { width:25px; height:25px;}
    .wrapper-rejected [class^="icon-"]:after, .wrapper-rejected [class*=" icon-"]:after {background-size: 50px !important;}
    .wrapper-rejected [class^="icon-"]:after, .wrapper-rejected [class*=" icon-"]:after {background-size: 50px !important;}
    .wrapper-late-rejected [class^="icon-"]:after, .wrapper-late-rejected [class*=" icon-"]:after {background-size: 50px !important;}
    .wrapper-late-rejected [class^="icon-"]:after, .wrapper-late-rejected [class*=" icon-"]:after {background-size: 50px !important;}
    .wrapper-rejected .rejected-container p, .wrapper-late-rejected .rejected-container p { font-size:16px; line-height:normal;}
    .wrapper-rejected .rejected-container, .wrapper-late-rejected .rejected-container { margin-top:5.5%;}
    .started-btn ul {background-size: 8%;}
    .list-container .field-address { margin:10px 0px 0px 0px;}
    .list-container .list-leftcontent .incident-info { margin:22px 0px 0 0;}
    .list-container .list-rightcontent .started-btn ul li a { font-size:13px;}
    .list-container .list-rightcontent a, .list-container .list-rightcontent .started-btn, .header-btn a, .header-btn .started-btn, .form .btn{ height:40px; line-height:40px; font-size:13px;}
    .header-btn .started-btn a { height:30px; line-height:30px;}
    .list-content .icon { margin:4px 1% 0 0;}
    .logo img { width:90%;}
    .textarea.popup-textarea {height:200px; min-height:200px; max-height:200px;}
    .popup-title { font-size:25px;}
    .popup-container p {font-size: 18px;}
}

@media only screen and (max-width: 480px){
    .list-container{font-size:14px;}
    .list-container .list-title, .header-title { font-size:24px;}
    .list-container .list-leftcontent .incident-info { margin:10px 0px 5px 0;}
    .list-container .list-rightcontent .started-btn ul li a { margin:0px !important; padding-left:5px;}
    .list-container .list-rightcontent a {height: 35px; line-height: 35px; margin:10px 0 0 0 !important;}
    .list-container .list-rightcontent a.btn-margin { margin:10px 1.3% !important;}
    .list-container .list-rightcontent a.button2 { margin: 10px 0.5% !important;}
    .list-header { padding:4px 2%;}
    .list-header .icon { margin:7px 10px 0 0; }
    .list-content { font-size:20px;}
    .list-content .icon { margin:3px 1% 0 0;}
    .notes-title .line {width: 42%;}
    .list-notes .list-title { font-size:22px;}
    .list-notes .list-title p, .wname{ font-size:18px;}
    .list-notes .list-status, .list-notes .listing-text{ font-size:16px;}
    .list-container .listing-text { margin:0.8% 0px 0px 0px;}
    .popup-title { font-size:22px;}
    .popup-container p {font-size: 16px;}
    .dropdown-container select { font-size:16px; height: 50px;}
    .dropdown-container:after{width: 50px; height: 50px; background-size: 100%;}
    .list-container .list-leftcontent .listing-text { margin:2% 0px 0px;}
    .wrapper-rejected .rejected-container p, .wrapper-late-rejected .rejected-container p { font-size:13px; line-height:normal;}
}

@media only screen and (max-width: 380px){
    .list-container{font-size:12px;}
    .list-container .list-leftcontent{width:30%;}
    .list-container .list-rightcontent{width:68%;}
    .list-container .list-title { font-size:18px;}
    .list-container .list-rightcontent a, .list-container .list-rightcontent .started-btn ul li a, .header-btn a{font-size:11px;}
    .list-container .list-rightcontent a, .header-btn a, .header-btn .started-btn, .form .btn { height:30px; line-height:30px;}
    .list-notes .list-title { font-size:20px;}
    .list-notes .list-title p, .wname{ font-size:16px;}
    .list-notes .list-status, .list-notes .listing-text{ font-size:14px;}
    .header-btn .started-btn a { height:20px; line-height:20px;}
    .textarea.popup-textarea {height:120px; min-height:120px; max-height:120px;}
    .popup-title { font-size:20px;}
    .popup-container p {font-size: 14px;}
    .dropdown-container select { font-size:13px; height: 40px;}
    .dropdown-container:after{width: 40px; height: 40px; background-size: 100%;}
    .list-container .list-rightcontent .button4 { width:44%;}
    .list-container .list-rightcontent .button5 { width:26%;}
    .list-container .listing-text { margin:1.5% 0px 0px 0px;}
    .list-container .list-leftcontent .listing-text { margin:3.5% 0px 0px;}
}