/*
 *  Font Awesome 3.0.2
 *  the iconic font designed for use with Twitter Bootstrap
 *  -------------------------------------------------------
 *  The full suite of pictographic icons, examples, and documentation
 *  can be found at: http://fortawesome.github.com/Font-Awesome/
 *
 *  License
 *  -------------------------------------------------------
 *  - The Font Awesome font is licensed under the SIL Open Font License - http://scripts.sil.org/OFL
 *  - Font Awesome CSS, LESS, and SASS files are licensed under the MIT License -
 *    http://opensource.org/licenses/mit-license.html
 *  - The Font Awesome pictograms are licensed under the CC BY 3.0 License - http://creativecommons.org/licenses/by/3.0/
 *  - Attribution is no longer required in Font Awesome 3.0, but much appreciated:
 *    "Font Awesome by Dave Gandy - http://fortawesome.github.com/Font-Awesome"
 */
.no-display {
	display: none;
}

.holiday-success{
	font-weight: bold;
	color: green;
}

.holiday-validation{
	font-weight: bold;
	color: red;
}

.table-zip-codes .no-display {
	display: none;
} 

.btn-add-zip {
	margin: 10px 10px 10px 0px;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,800,600italic,400italic,700italic,300,700);
@font-face {
    font-family: 'FontAwesome';
    src: url("../font/fontawesome-webfont.eot?v=3.0.1");
    src: url("../font/fontawesome-webfont.eot?#iefix&v=3.0.1") format("embedded-opentype"), url("../font/fontawesome-webfont.woff?v=3.0.1") format("woff"), url("../font/fontawesome-webfont.ttf?v=3.0.1") format("truetype");
    font-weight: normal;
    font-style: normal
}
[class^="icon-"], [class*=" icon-"] {
    font-family:FontAwesome;
    font-weight:normal;
    font-style:normal;
    text-decoration:inherit;
    -webkit-font-smoothing:antialiased;
    display:inline;
    width:auto;
    height:auto;
    line-height:normal;
    vertical-align:baseline;
    background-image:none;
    background-position:0% 0%;
    background-repeat:repeat;
    margin-top:0
}
.rejected-appt{
    cursor: default;
}
.loading_customer{
    display: none;
    margin-top: -10px;
}
.row-fluid .span6.technician-priority {
	width: 100%;
	max-width: 400px;
}
.loading_customer span {
    font-size: 11px;
    margin-right: 5px;
}
.icon-white, .nav-pills>.active>a>[class^="icon-"], .nav-pills>.active>a>[class*=" icon-"], .nav-list>.active>a>[class^="icon-"], .nav-list>.active>a>[class*=" icon-"], .navbar-inverse .nav>.active>a>[class^="icon-"], .navbar-inverse .nav>.active>a>[class*=" icon-"], .dropdown-menu>li>a:hover>[class^="icon-"], .dropdown-menu>li>a:hover>[class*=" icon-"], .dropdown-menu>.active>a>[class^="icon-"], .dropdown-menu>.active>a>[class*=" icon-"], .dropdown-submenu:hover>a>[class^="icon-"], .dropdown-submenu:hover>a>[class*=" icon-"] {
    background-image:none
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    text-decoration: inherit;
    display: inline-block;
    speak: none
}
a [class^="icon-"], a [class*=" icon-"] {
    display: inline-block
}

.btn [class^="icon-"], .btn [class*=" icon-"], .nav [class^="icon-"], .nav [class*=" icon-"] {
    display: inline
}

li [class^="icon-"], li [class*=" icon-"], .nav li [class^="icon-"], .nav li [class*=" icon-"] {
    display: inline-block;
    width: 1.25em;
    text-align: center
}
.align-center{
    /*text-align:center !important;*/
}
ul.icons {
    list-style-type: none;
    text-indent: -.75em
}
ul.icons li [class^="icon-"], ul.icons li [class*=" icon-"] {
    width: .75em
}

#modal-editIncident,#modal-1{
    top: 4%;
}

.pull-right {
    float: right
}
.pull-left {
    float: left
}
[class^="icon-"].pull-left, [class*=" icon-"].pull-left {
    margin-right: .3em
}
[class^="icon-"].pull-right, [class*=" icon-"].pull-right {
    margin-left: .3em
}
.btn [class^="icon-"].pull-left.icon-2x, .btn [class^="icon-"].pull-right.icon-2x, .btn [class*=" icon-"].pull-left.icon-2x, .btn [class*=" icon-"].pull-right.icon-2x {
    margin-top: .18em
}
.btn [class^="icon-"].icon-spin.icon-large, .btn [class*=" icon-"].icon-spin.icon-large {
    line-height: .8em
}
.icon-rejected {
    background: url(../img/rejected.png);
    width: 13px;
    height: 13px;
    background-size: cover;
}
.icon-remove:before {
    content: "\f00d";
}
.icon-trash:before {
    content: "\f014";
}
.icon-edit:before {
    content: "\f044";
}
.icon-time:before {
    content: "\f017"
}
.icon-calendar:before {
    content: "\f073";
}
.icon-signout:before {
    content: "\f08b"
}
.icon-th-list:before {
    content: "\f00b";
}
.icon-table:before {
    content: "\f0ce"
}
.icon-user:before {
    content: "\f007"
}
.icon-lock:before {
    content: "\f023"
}
.icon-chevron-up:before {
    content: "\f077"
}
.icon-chevron-down:before {
    content: "\f078"
}
.icon-double-angle-left:before {
    content: "\f100"
}
.icon-double-angle-right:before {
    content: "\f101"
}
.icon-double-angle-up:before {
    content: "\f102"
}
.icon-eye-open:before {
    content: "\f06e"
}
.icon-arrow-left:before {
    content: "\f060"
}
.icon-arrow-right:before {
    content: "\f061"
}
.icon-ok:before {
    content: "\f00c";
}
.input-append input, .input-append select, .input-append .uneditable-input {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}
.uneditable-input {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}
.btn-group.text {
    font-size: 13px
}
.btn-group .dropdown, .btn-group .pagination {
    font-size: 13px
}
.btn-group .pagination {
    margin: 0
}
.btn-group .pagination ul {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}
.table-bordered {
    border-top: 0
}
.table-bordered.table-force-topborder {
    border-top: 1px solid #ddd
}
.table-bordered.dataTable {
    border-top: 1px solid #ddd
}
.table-bordered.dataTable.dataTable-noheader {
    border-top: 0
}
.table-bordered, .table-bordered thead:first-child tr:first-child>th:first-child, .table-bordered tbody:first-child tr:first-child>td:first-child, .table-bordered tbody:first-child tr:first-child>th:first-child, .table-bordered thead:first-child tr:first-child>th:last-child, .table-bordered tbody:first-child tr:first-child>td:last-child, .table-bordered tbody:first-child tr:first-child>th:last-child, .table-bordered thead:last-child tr:last-child>th:first-child, .table-bordered tbody:last-child tr:last-child>td:first-child, .table-bordered tbody:last-child tr:last-child>th:first-child, .table-bordered tfoot:last-child tr:last-child>td:first-child, .table-bordered tfoot:last-child tr:last-child>th:first-child, .table-bordered thead:last-child tr:last-child>th:last-child, .table-bordered tbody:last-child tr:last-child>td:last-child, .table-bordered tbody:last-child tr:last-child>th:last-child, .table-bordered tfoot:last-child tr:last-child>td:last-child, .table-bordered tfoot:last-child tr:last-child>th:last-child {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important
}
.input-prepend .add-on:first-child, .input-prepend .btn:first-child, .input-append .add-on:last-child, .input-append .btn:last-child, .input-append .btn-group:last-child>.dropdown-toggle, .input-prepend.input-append .add-on:last-child, .input-prepend.input-append .btn:last-child, .input-prepend.input-append .add-on:first-child, .input-prepend.input-append .btn:first-child, .btn-group>.btn:first-child, .btn-group>.btn:last-child, .btn-group>.dropdown-toggle {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important
}
.input-prepend .btn-group .btn:first-child, .input-append .btn-group .btn:first-child {
    border: 1px solid #ccc;
    padding: 4px 8px;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important
}
.input-append .add-on:last-child, .input-append .btn:last-child, .input-append .btn-group:last-child>.dropdown-toggle, .input-prepend .btn:first-child {
    border: 1px solid #ccc;
    padding: 4px 8px
}
.input-prepend .add-on:first-child {
    border: 1px solid #ccc;
    padding: 4px 6px
}
.label {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-shadow: none
}
input, textarea {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important
}
.modal {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}
.modal .modal-footer {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

textarea, input[type="text"],
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"],
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input {
    background: #f9f9f9
}
.form-horizontal .control-label {
    text-align: left;
    width: 140px;
    margin-bottom: 0px;
    font-weight: 600;
}
.form-horizontal .controls {
    margin-left: 160px
}
.dropdown-menu.dropdown-primary {
    border-color: #368ee0
}
.dropdown-menu.dropdown-primary>li>a:hover {
    background: #368ee0;
    color: #fff
}

.btn {
    background: #eee;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #444;
    padding: 5px 9px;
    filter: none
}
.btn.btn-large {
    padding: 10px 16px
}
.btn.btn-small {
    padding: 3px 7px
}
.btn.btn-mini {
    padding: 1px 4px
}
.btn.btn-text-left {
    text-align: left
}
.btn i {
    font-size: 14px
}
.btn:hover {
    background: #ccc;
    text-shadow: none
}
.btn:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}
.btn:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none
}
.btn.btn-primary {
    background: #368ee0;
    color: #fff;
    text-shadow: none;
    filter: none;
    border-radius: 4px !important;
}
.btn.btn-primary:hover {
    background: #368ee0
}
.btn.btn-danger {
    background: #f43;
    text-shadow: none;
    color: #fff;
    filter: none
}
.btn.btn-danger:hover {
    background: #e51400
}
.nav.nav-pills>li.active>a, .nav.nav-list>li.active>a {
    background: #368ee0
}
.pagination-large ul>li:first-child>a, .pagination-large ul>li:first-child>span, .pagination-large ul>li:last-child>a, .pagination-large ul>li:last-child>span, .pagination ul>li:first-child>a, .pagination ul>li:first-child>span, .pagination-mini ul>li:first-child>a, .pagination-small ul>li:first-child>a, .pagination-mini ul>li:first-child>span, .pagination-small ul>li:first-child>span, .pagination ul>li:last-child>a, .pagination ul>li:last-child>span, .pagination-mini ul>li:last-child>a, .pagination-small ul>li:last-child>a, .pagination-mini ul>li:last-child>span, .pagination-small ul>li:last-child>span {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}
.table.table-condensed tr th, .table.table-condensed tr td {
    padding: 4px 5px
}
.table tr th, .table tr td {
    padding: 10px;
    border-top: 1px dotted #ddd;
    font-size: 13px;
}
label, input, button, select, textarea {
    font-size: 13px
}
.form-actions {
    background: 0;
    border: 0;
    text-align: right;
    margin-top: 0;
    margin-bottom: 0;
}

#content {
    position: relative;
    min-height: 100%
}
.container-fluid {
    min-width:1223px;
}
#content.container-fluid {
    padding: 0
}
#left {
    width: 200px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #eee;
}
#main {
    *zoom:1;
    background: #fff;
    margin-left: 200px;
    overflow: visible;
    padding-bottom: 30px
}
#main:after {
    content: "";
    display: table;
    clear: both
}
#navigation {
    background: #368ee0;
    position: relative;
    z-index: 100
}

#navigation #brand {
    float: left;
    color: #fff;
    font-size: 0px;
    text-indent:-99999px;
    margin-top: 9px;
    padding-bottom: 2px;
    background: url("../img/logo.png") no-repeat;
    background-size:75%;
    width:150px;
    height:22px;
    margin-right:30px;
}
#navigation #brand:hover {
    text-decoration: none
}

#navigation .user .icon-nav {
    float: left
}
#navigation .user .icon-nav>li {
    margin-right: 3px;
    float: left
}
#navigation .user .icon-nav>li>a {
    padding: 11px 10px 9px 10px;
    display: block;
    color: #fff;
    position: relative;
    font-family: "Open Sans", sans-serif;
}
#navigation .user .icon-nav>li>a:hover {
    background: #1b67af;
    text-decoration: none;
    color:#fff;
}
#navigation .user .icon-nav>li>a i {
    color: #fff;
    font-size: 16px
}
#navigation .main-nav {
    float: left
}
#navigation .main-nav>li {
    float: left;
    position: relative;
    margin: 0
}
#navigation .main-nav>li.active>a, #navigation .icon-nav>li.active>a, #navigation .icon-nav>li.active>a:hover {
    background: #fff;
    text-decoration: none;
    color: #2a2a2a;
}
#navigation .main-nav>li.active>a:hover {
    background: #fff
}


#navigation .main-nav>li>a {
    display: block;
    padding: 10px 15px;
    color: #fff
}
#navigation .main-nav>li>a i {
    display: none
}
#navigation .main-nav>li>a:hover {
    text-decoration: none;
    background: #1e74c5
}

#navigation .user {
    float: right
}
#navigation .user>a {
    color: #fff
}
#navigation .user .dropdown {
    float: left;
}
#navigation .user .dropdown>a {
    display: block;
    color: #fff;
    padding:10px 15px;
    text-decoration: none;
}
#navigation .user .dropdown>a:hover, #navigation .user .dropdown.open a.dropdown-toggle {
    background: #1b67af;
}
#navigation .dropdown-menu {
    border-top: 0;
    border-color: #368ee0;
}
.dropdown-menu {
    border: 2px solid #666;
    background: #fff;
    margin-top: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.dropdown-menu>li>a {
    padding: 6px 15px;
    font-size: 13px;
    filter: none;
}
#navigation .dropdown-menu>li>a:hover {
    background: #368ee0;
    color: #fff;
    filter: none;
}
.box.box-color .box-title {
    background: #368ee0
}
.box.box-color .box-title h3 {
    color: #fff
}

.box .box-content:after {
    content: "";
    display: table;
    clear: both;
}

.box.box-bordered .table.table-bordered {
    border-right: 0;
}
.box.box-bordered .table {
    margin-bottom: 0;
}
.table-bordered, .table-bordered thead:first-child tr:first-child>th:first-child, .table-bordered tbody:first-child tr:first-child>td:first-child, .table-bordered tbody:first-child tr:first-child>th:first-child, .table-bordered thead:first-child tr:first-child>th:last-child, .table-bordered tbody:first-child tr:first-child>td:last-child, .table-bordered tbody:first-child tr:first-child>th:last-child, .table-bordered thead:last-child tr:last-child>th:first-child, .table-bordered tbody:last-child tr:last-child>td:first-child, .table-bordered tbody:last-child tr:last-child>th:first-child, .table-bordered tfoot:last-child tr:last-child>td:first-child, .table-bordered tfoot:last-child tr:last-child>th:first-child, .table-bordered thead:last-child tr:last-child>th:last-child, .table-bordered tbody:last-child tr:last-child>td:last-child, .table-bordered tbody:last-child tr:last-child>th:last-child, .table-bordered tfoot:last-child tr:last-child>td:last-child, .table-bordered tfoot:last-child tr:last-child>th:last-child {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
.box.box-bordered .table.table-bordered th:first-child, .box.box-bordered .table.table-bordered td:first-child {
    border-left: 0;
}
.box.box-bordered.box-color .box-title {
    border-color: #368ee0
}
.box.box-bordered.box-color .box-content {
    border-color: #368ee0
}
.box.box-bordered .box-title {
    border: 2px solid #ddd
}
.box.box-bordered .box-content {
    border: 2px solid #ddd;
    border-top: 0
}
.box .box-title {
    *zoom:1;
    border-bottom: 1px solid #ddd;
    padding: 7px 0 7px 10px;
    margin-top: 20px
}
.box .box-title:after {
    content: "";
    display: table;
    clear: both
}
.box .box-title h3 {
    float: left;
    margin: 3px 0 3px 0;
    line-height: 24px;
    font-weight: 400;
    color: #444;
    font-size: 20px
}
.box .box-title h3 i {
    margin: 0 10px
}
.box .box-title .tabs {
    float: right;
    *zoom:1;
    margin: 5px 10px 0 0;
    padding: 0;
    list-style-type: none
}

.box .box-title .actions {
    margin-top: 0px;
    float: right;
    margin-right: 10px
}

.form-vertical .control-label small {
    margin-left: 20px
}
.form-vertical.form-bordered .control-group {
    border-bottom: 1px solid #ddd;
    padding: 10px 20px
}
.form-striped .control-group:nth-child(odd) {
    background: #f6f6f6
}
.form-striped .control-group {
    margin-bottom: 0
}
.form-horizontal.form-striped .control-group {
    padding: 15px 20px;
    border-bottom: 1px solid #ddd
}
.form-horizontal.form-column {
    margin: 0
}
.form-horizontal.form-column .span6 {
    padding-top: 20px
}
.form-horizontal.form-column .span12 {
    margin-left: 0
}
.form-horizontal .control-group .control-label small {
    display: block;
    color: #999
}
.form-horizontal.form-bordered .control-group {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ddd;
    background: #f6f6f6
}
.form-horizontal.form-bordered .control-group:last-child {
    border-bottom: 0
}
.form-horizontal.form-bordered .control-group .controls {
    padding: 10px;
    background: #fff;
    border-left: 1px solid #ddd;
    *zoom:1
}
.form-horizontal.form-bordered .control-group .controls:after {
    content: "";
    display: table;
    clear: both
}
.form-horizontal.form-bordered .control-group .control-label {
    margin: 0;
    padding: 15px 10px 5px 10px;
    color: #555
}
.form-horizontal.form-bordered .control-group .control-label small {
    display: block;
    font-size: 12px;
    color: #888;
    font-weight: normal
}

.table.table-hover tr:hover>td {
    background: #f8f8f8
}
.table.dataTable {
    margin-bottom: 10px;
    clear: both
}
.table.dataTable.dataTable-columnfilter .filter_column input {
    margin-bottom: 0;
    width: 100%;
    padding: 4px 0;
    text-indent: 8px
}
.table.dataTable.dataTable-columnfilter .thefilter th {
    background: #e1e1e1
}

.table.dataTable th:focus {
    outline: none
}
.table.dataTable.dataTable-reorder th:hover {
    cursor: move
}

.table tr td .label {
    margin-right: 3px
}
.table tr th {
    background: #eee
}

.grids .row-fluid {
    margin-top: 10px;
    margin-bottom: 20px
}
.grids .row-fluid [class*="span"] {
    background: #ccc;
    text-align: center;
    line-height: 30px
}
.grids .row-fluid [class*="span"]:hover {
    background: #aaa
}

.login {
}
.login .wrapper {
    width: 400px;
    height: 500px;
    margin: 200px -200px;
    position: absolute;
    left: 50%
}
.login .wrapper h1>a {
    color: #fff;
    display: block;
    font-weight: 300;
    font-size: 48px;
    text-align: center;
    padding: 2px 0;
    text-decoration: none
}
.login .wrapper h1>a img {
    margin-right: 20px;
    margin-top: -8px
}
.login .wrapper .login-body {
    margin-top: 20px;
    background: #fff;
    padding-bottom:10px;
    border: 1px solid #ddd;
    background: #fdfdfd;
}
.login .wrapper .login-body form {
    padding: 0 30px
}
.login .wrapper .login-body h2 {
    font-weight: 300;
    color: #333;
    font-size: 24px;
    padding: 20px 30px 5px 30px
}
.login .wrapper .login-body .email input, .login .wrapper .login-body .pw input {
    padding: 8px 12px;
    height: 35px
}
.login .wrapper .login-body .submit {
    margin-top: 15px;
    *zoom:1
}
.login .wrapper .login-body .submit:after {
    content: "";
    display: table;
    clear: both
}
.login .wrapper .login-body .submit input {
    float: right
}

.pagination.pagination-custom {
    height: 28px;
    margin-top: -1px
}
.pagination.pagination-custom li.active a {
    background: #368ee0;
    color: #fff
}
.pagination.pagination-custom li.active a:hover {
    background: #368ee0
}
.pagination.pagination-custom li a {
    background: #eee;
    text-decoration: none;
    color: #333;
    border: 0;
    padding: 5px 12px
}
.pagination.pagination-custom li a:hover {
    background: #ddd
}
.search-results ul {
    *zoom:1
}
.search-results ul:after {
    content: "";
    display: table;
    clear: both
}
.search-results ul li {
    *zoom:1;
    padding: 15px;
    border-bottom: 1px dotted #bbb
}
.search-results ul li:after {
    content: "";
    display: table;
    clear: both
}
.search-results ul li:first-child {
    border-top: 0
}
.search-results ul li:last-child {
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0
}
.search-results ul li .thumbnail {
    float: left;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}
.search-results ul li .search-info a {
    font-size: 16px
}
.search-results ul li .search-info .url {
    color: #29b754
}
.search-results ul li:nth-child(even) {
    background: #fff
}

.chzn-container .chzn-drop {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}
.chzn-container .chzn-drop .chzn-results>li.highlighted {
    background: #368ee0
}
.chzn-container.chzn-container-single .chzn-search input {
    background: none
}
.chzn-container.chzn-container-single .chzn-single {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #fff;
    padding-top: 3px;
    padding-bottom: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}
.chzn-container.chzn-container-single .chzn-single div b {
    background-position-y: 2px
}
.chzn-container.chzn-container-multi .chzn-choices {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #fff
}
.chzn-container.chzn-container-multi .chzn-choices .search-choice {
    background: #eee;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}
.dataTables_wrapper .dataTables_length {
    float: left;
    min-width: 200px;
    margin: 10px 10px 5px 10px
}
.dataTables_wrapper .dataTables_length .input-mini {
    float: left
}
.dataTables_wrapper .dataTables_length label>span {
    float: left;
    margin: 4px 5px
}
.dataTables_wrapper .dataTables_filter {
    float: right;
    margin: 10px 10px 5px 5px;
}
.dataTables_wrapper .dataTables_filter input {
    margin-bottom: 0
}
.dataTables_wrapper .dataTables_info {
    float: left;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px
}
.dataTables_wrapper .dataTables_info span {
    font-weight: 600
}
.dataTables_wrapper .dataTables_paginate {
    float: right;
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.dataTables_wrapper .dataTables_paginate>a {
    margin-right: 5px;
    background: #eee;
    padding: 5px 8px;
    color: #333;
    text-decoration: none;
    cursor: pointer
}
.dataTables_wrapper .dataTables_paginate>a:hover {
    background: #ddd
}
.dataTables_wrapper .dataTables_paginate>span>a {
    padding: 5px 8px;
    margin-right: 5px;
    background: #eee;
    color: #333;
    text-decoration: none;
    cursor: pointer
}
.dataTables_wrapper .dataTables_paginate>span>a.paginate_active {
    background: #368ee0;
    color: #fff
}
.table.dataTable .sorting_asc {
    background: url("../img/sorting-asc.png") no-repeat right center #eee;
}
.table.dataTable .sorting {
    background: url("../img/sorting.png") no-repeat right center #eee;
}
.table.dataTable .sorting_desc {
    background: url("../img/sorting-desc.png") no-repeat right center #eee;
}

div#ui-datepicker-div{
    z-index:4 !important;
}

.datepicker.datepicker-dropdown {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}
.datepicker.datepicker-dropdown:before, .datepicker.datepicker-dropdown:after {
    border: 0
}

.bootstrap-timepicker-widget.dropdown-menu, .colorpicker.dropdown-menu {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}
.bootstrap-timepicker-widget.dropdown-menu:before, .bootstrap-timepicker-widget.dropdown-menu:after, .colorpicker.dropdown-menu:before, .colorpicker.dropdown-menu:after {
    border: 0 !important
}

html, body {
    height: 100%
}
body {
    background: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 13px !important
}
a {
    color: #368ee0
}
a:focus {
    outline: none;
    text-decoration: none
}
.ulreset, #navigation .user .icon-nav, #navigation .main-nav, .letterbox .letter, .messages, .user-list>ul, .pagestats, .userlist, .quickstats, .tabs, .stats, .minitiles, .search-results ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}
.nopadding {
    padding: 0 !important
}
.row-fluid.margin-top {
    margin-top: 30px
}

#gritter-notice-wrapper {
    right: auto;
    left: 50%;
    margin-left: -150.5px;
    display:none;
}

/*
** Custom CSS 19-jan-2016

* - 918: Schedule.html
* - 952: Notes.html
* - 963: POPUP
* - 982: addworker.html

*/


/*											Header
______________________________________________________
*/
.notification{position: absolute; top: 1px; right: 0px; background: #cc0000; padding: 0px 4px 0px 2px; line-height: normal; font-size: 10px; color:#fff;}

/*									     Schedule.html
_______________________________________________________
*/
.alert-bg-dark-red{
    background-color: #9a0000 !important;
}
.alert-bg-light-red{
    background-color: #f2dedf !important;
}
.alert-bg-dark-red a{
    color:#FFF !important;
}

.space{ margin:0px; height:20px; display:block;}

.schedule-container #main{ margin-left:31%; height:100%; padding-bottom:0px;}

.schedule-container #left { top:0px; width:30%; background:#fff;}

#map { width : 100%; display: inline-block; height:913px; margin:0px; padding: 0px;}

.wc-scrollable-grid { padding-bottom:23px;}
.inner-container { position:relative;}

.alert-container { margin-top: 10px;}

.alert-error { border-radius:0px; padding: 8px 14px; margin-bottom: 0px;}

.alert-error .float-left { float:left; margin-top:4px; width: 77%;}

.alert-error .float-left a { color: #b94a48; }

.alert-error .float-right { float:right; width: 23%; text-align: right;}

.alert-btn input[type=submit], .alert-btn input[type=button] {
    margin: 1px 0;
}

.alert-bg-cell{
    background-color: #fcf8e3 !important;
    border: 1px solid #f5f1dd !important;
}
.cell-btn{
    background:#c09853 !important;
}
.alert-bg-cell a{
    color: #c09853 !important;
}

.alert-bg-mobile{
    background-color: #d9edf6 !important;
    border: 1px solid #d9edf6 !important;
}
.mobile-btn{
    background:#3987ad !important;
}
.alert-bg-mobile a{
    color: #3987ad !important;
}

.late-rejection-btn{
    background:#4a0001 !important;
}

.rejection-btn,.rejection-btn:disabled,.cancel-send-sms:disabled{
    background:#ba4a48 !important;
}

.done-btn, .send-sms, .cancel-send-sms { background:#b94a48 ; padding:5px 15px; width:120px !important; border:none; color:#fff; text-transform:uppercase; font-size:12px;}

.done-btn:hover,.send-sms:hover { background:#8E3836;}

.alert-error .clear { clear:both;}

.labels {
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-size: 10px;
    font-weight:bold;
    text-align: center;
    width: 52px;
    white-space: nowrap;
    line-height:1;
    margin-left: 0px !important;
    margin-top: 4px !important;
    opacity: 1 !important;
}
.labels span { display:inline-block; margin:0px 0px 5px 2px;}
.labels span.sqnum { display:block; margin:0px 0px 5px 0px;}
.labels span{
    font-size:10px;
    padding:0px;
    font-weight: normal;
}
.input-popuplarge span.error-red { margin-top:10px; display:block;}
.error-red {color: #b94a48;}
.chzn-container.error-red a.chzn-single { border:1px solid #b94a48; color:#b94a48;}
.markerbgcolor{ border-radius:3px; padding: 2px 0px;}
.markerarrow{
    border: solid transparent;
    height: 0;
    width: 0;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-width: 8px;
    margin-left: 35%;
}


/*						Calendar 
__________________________________
*/
#calendar, #calendar .wc-container{ height:100%;}
.wc-cal-event .icon.icon-send {right: 16px;}
.wc-cal-event .icon {position: absolute; right: 2px; top: 2px; z-index: 99;}
.cl-datepick { border-radius: 4px !important; margin-left: 10px !important; background-image:url(../img/cal-icon.png), url(../img/ui-bg_glass_75_e6e6e6_1x400.png) !important; background-repeat: no-repeat, repeat-x !important; background-position:10% center, 50% 50% !important; padding:1px 0.8em 1px 3em !important;}
.wc-cal-event .icon-remove { right:18px;}
.wc-cal-event .icon-rejected { right:18px;}
.wc-cal-event .icon-send { background:url(../img/icon-send-survey.png) no-repeat; width:14px; height:14px; margin-right:2px;}
.wc-cal-event, .wc-cal-event .wc-time { border-radius:0px !important;}
.landline { margin-top:5px;}
.landline .radio{ padding-left:0px;}
.landline input[type="checkbox"] { margin:0px 10px 0 0;}
/*										Notes.html
____________________________________________________
*/
.notes-container:after{ content: ""; display: table; clear: both;}
.notes-container p span{ margin-left:1%;}
.worker-notes{ width:70%; clear:left; margin-top:10px;}
.notes-container a{ float:left; font-weight:700;}
.worker-info ul { text-align:right;}
.worker-info ul li{ padding:0px 15px; border-bottom:0px; border-right:1px solid #bbbbbb; display:inline-block; font-size:12px;}
.worker-info ul li:last-child{ border-right:0px; padding:0px 0px 0px 15px;}
.worker-info p{ text-align:center; margin-top:10px; font-size:16px; font-weight:bold;}
.green { color:#1c6c0f;}
.red { color:#cd0000;}
.blue { color:#0356a5;}

/*										POPUP
__________________________________________________
*/
.modal form{ margin:0px;}
.modal-header .btn { margin:0px 5px;}
.modal-header .btn-remove { margin:0px 0px 0px 5px;}
#modal-editIncident .modal-header .btn{ height:30px; width:32px;}
.popuphalf-width { width:45%;}
.input-popuplarge{ width:513px;}

.modal-body {max-height:450px;}

#modal-editIncident,#modal-1{
    height:85%;
    max-height:85%;
}

.chzn-drop, .chzn-disabled .chzn-drop, .chzn-disabled .chzn-single-with-drop+.chzn-drop { display:none;}
.chzn-single-with-drop+.chzn-drop{ display:block;}
.modal-body .controls { position:relative;}
.modal-body .controls .datepick, .modal-body .controls .timepick { padding:4px 6px 4px 25px;}
.modal-body .controls .icon-popup{ position:absolute; top: 8px; left: 8px;}
.modal-body .controls  select, .modal-body .controls textarea { margin-bottom:20px;}
.modal-body .controls.error  select, .modal-body .controls.error textarea, .modal-body .controls.error input, .modal-body .controls.popuphalf-width.error  select { margin-bottom:2px;}
.modal-body .controls.popuphalf-width.success, .modal-body .controls.popuphalf-width.error { margin-bottom:0px;}
.modal-body .controls.popuphalf-width  select { margin-bottom:10px;}
.help-block { font-size:11px;}
.modal-body .controls textarea { max-height:110px; height:110px; min-height:110px; min-width:100%; max-width:100%;}
input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly], .chzn-disabled .chzn-single { background:#eeeeee !important;}
.modal-body .worker-info ul { text-align:left;}
.alert-warning .alert .close, .login-body .alert .close{right: -9px;}
.modal-body .worker-info ul li:first-child { padding:0px 15px 0px 0px;}

.note-title:after{ content: ""; display: table; clear: both;}
.l-noteborder, .r-noteborder { width:41%; border-top:1px solid #bbbbbb; display:inline-block;}
.text-note{ display:inline-block; font-weight:bold;}
.l-noteborder { margin-right:4.5px;}
.r-noteborder { margin-left:4.5px;}

.view-popup .modal-footer .btn-primary{ display:none;}
div#error-php.error{color:#b94a48;}
.modal-bg.fade.in { opacity:1; z-index:9999;}
div#modal-a3 { z-index: 999999;}

.modal-body .alert-container {
    margin-top:0px;
    margin-bottom: 15px;
}
.modal-body .alert-error .float-left {
    width: 75%;
}
/*                                        Activity Log
__________________________________________________________
*/
.btn-activity { width:32px; height:30px; background:#009f9f  !important;}
.icon-activitylog { background:url(../img/icon-activitylog.png) no-repeat; width: 12px;  height: 12px; display: block !important;}
.activity-log { background:#f7f7f7  !important; padding: 8px 15px !important; border-bottom: none !important; margin:20px 0px 0px 0px;display:none;}
.activity-title { color:#333; font-size:13px;}
.activity-title span{ color:#368ee0 ;}
.activity-content { color:#333333 ;}
/*									AJAX Auto Complete
______________________________________________________
*/


/*										Add Worker
__________________________________________________
*/
.addworker-select{ width:285px;}
.map_orderID{ display: none !important; }

.cs-general-error{
    margin-top: 5px;
    display: none;
}

.limit-terms{
    height: 500px;
    overflow-y: auto;
}

.margin-auto{
    margin: 0 auto;
}

.absa-tc-upload-file .absa-form-row {

    border-bottom: 1px solid lightgrey;

}

.absa-tc-upload-file .absa-form-row .absa-uf-label {
    padding: 12px;
    background-color: #f1f1f1;
    border-right: 1px solid lightgrey;
}

.absa-tc-upload-file .absa-form-row .absa-uf-dialog {
    padding: 0px 15px 0px;
    margin-left: 0px;
}

.absa-tc-upload-file .absa-form-row .absa-uf-dialog .control-group {
    margin-bottom: 0px;
    margin-top: 12px;
}

.absa-tc-upload-file .absa-form-row .absa-uf-dialog .control-group input[type="file"] {
    height: 30px;
    line-height: 22px;
    margin-top: 0px;
}

#absa-tc-file-list_length select {

    margin-bottom: 0px;
    max-width: 65px;

}
.absa-submit input[type=submit] {
    margin-top: 20px;
}

.absa-no-data {
    margin: 30px auto;
    display: inline-block;
    width: 100%;
    text-align: center;
}

#absa-tc-file-list .sorting, #absa-tc-file-list .sorting_asc {
    padding-right: 26px;
}

.absa-tc-section {
    padding-bottom: 20px;
}

.max-256 {
    max-width: 256px !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

.force-reset-hit[disabled] {
    color: #000;
    background-color: #f5f5f5;
}

.password-activity{
    margin: 0;
    padding: 0;
}

.password-activity li{
    list-style: none;
    background: #f7f7f7 !important;
    padding: 8px 15px !important;
    border-bottom: none !important;
    margin: 0px 0px 10px 0px;
}

/*                      Global Config - Page
______________________________________________
*/
.holiday-btn-container {
    display: inline;
    padding-left: 5px;
}
.btn-blue { background-color: #368ee0; color: #fff; -webkit-appearance: none; border: none; padding: 5px 10px;}

.tbl-holidays .form-actions {
    padding-left: 0;
    text-align: right;
    margin-top: 30px;
    padding-right: 10px;
    padding-bottom: 0;
}

.tbl-holidays .control-group {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ddd;
    background: #f6f6f6;
}

.tbl-holidays .control-group .control-label {
    margin: 0;
    padding: 15px 10px 0px 10px;
    color: #555;
    text-align: left;
    width: 140px;
    float: left;
}

.tbl-holidays .control-group .controls {
    padding: 10px;
    background: #fff;
    border-left: 1px solid #ddd;
    margin-left: 160px;
}

.tbl-holidays .control-group input#holiday_datepick,
.tbl-holidays .control-group input#holiday_label  {
    width: 285px;
    border-radius: 4px !important;
    background-color: transparent;
    margin-bottom: 0;
}



.tbl-holidays .control-group button.btn-add-holiday  {
    margin-left: 10px;
}

.dataTables_wrapper .dataTables_filter input {
    background: transparent;
    border-radius: 4px !important;
    margin-top: 2px;
    margin-bottom: 10px;
}
div.tagsinput input {
    width: 90px !important;
}

/*              CUSTOM SEARCH 
______________________________________________
*/
hr {
    margin: 13px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #efefef;
}
.clear {
    clear: both;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}
.customer-search-wrapper .span12 {
    width: 100%;
    margin: 0 auto;
    padding: 0 0px;
    float: none;
}
.customer-search-wrapper .span6 {
    margin: 0 auto 10px;
    float: none;
    width: 371px;
}
.customer-search-wrapper form.form-horizontal {
    margin: 0 0 -10px;
}

.multi-search-fields-wrapper {
position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 768px;
}

.form-horizontal .controls {
    margin-left: 0px;
    float: left;
    position: relative;
}

input#customer_search {
    border-radius: 4px 0 0 4px !important;
    background: none !important;
    width: 306px;
    box-sizing: border-box;
    height: 33px;
}

form.form-horizontal .btn.btn-primary {
    background: #368ee0;
    color: #fff;
    text-shadow: none;
    filter: none;
    border-radius: 0 4px 4px 0 !important;
    margin-left: -4px;
    padding: 7px 10px  6px;
}
input#global_search_text {
    background: none;
    border-radius: 4px !important;
    width: 100%;
    box-sizing: border-box;
    height: 33px;
}

.form-horizontal label.lbl-mbr {
    width: 90px;
}

.form-horizontal label.lbl-appt,
form.form-horizontal label.lbl-service-name,
form.form-horizontal label.lbl-technician
form.form-horizontal label.lbl-start-date,
form.form-horizontal label.lbl-end-date  {
    width: auto;
    margin-left: 0;
    display: block;
}


.multi-search-fields-wrapper .span4 {
    margin-left: 27px;
}

form.form-horizontal span.select2.select2-container.select2-container--default.select2-container--below,
form.form-horizontal span.select2.select2-container.select2-container--default.select2-container--below.select2-container--focus,
form.form-horizontal span.select2.select2-container.select2-container--default {
    width: 300px !important;
}
.select2-container--default .select2-selection--multiple {
    border: 1px solid #ccc !important;
}

.form-horizontal input+.help-block {
    margin-top: 5px !important;
    line-height: normal;
}


input#start_date,
input#end_date {
    width: 100%;
    height: 33px;
    background: none;
    border-radius: 4px !important;
    box-sizing: border-box;
}

button.btn.btn-primary.btn-search-date {
    position: absolute;
    right: -110px;
    float: left;
    top: 0;
    border-radius: 4px !important;
    width: 90px;
}

input.btn.btn-notified {
    background: #5bb75b;
    color: white;
    cursor: auto;
}

td.failed_logs{
    height: 80px;
    overflow: auto;
    display: block;
}
table#paginated_table tr{
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
table tr td{
    border-right: 1px solid rgba(0,0,0,0.2);
}